name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Node + pnpm
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - run: corepack enable

      - uses: pnpm/action-setup@v3
        with:
          version: 10
          run_install: false

      # 构建
      - run: pnpm install --frozen-lockfile
      - run: pnpm docs:build   # 或 pnpm build，看你脚本

      # 上传静态文件（直接覆盖）
      - name: Upload dist
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: "docs/.vitepress/dist/*"
          target: ${{ secrets.APP_PATH }}/dist

      # reload nginx
      - name: Reload nginx
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: docker exec nginx nginx -s reload
